{% extends 'supervisor/base.html' %}
{% block body %}
    <h1 class="mt-4">Kalendář konzultací</h1>
    <div id="text_card">
        <div id="text_card_content" style="white-space: pre-line">
            {{ content }}
            <div id="text_card_btn">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_note">Upravit</button>
            </div>
        </div>
    </div>
    <br>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <span id="calendarHeader"></span>
        </div>
        <div class="card-body">
            <table class="table table-bordered  caption-top">
                <thead>
                <tr>
                    <th scope="col">PO</th>
                    <th scope="col">ÚT</th>
                    <th scope="col">ST</th>
                    <th scope="col">ČT</th>
                    <th scope="col">PÁ</th>
                    <th scope="col">SO</th>
                    <th scope="col">NE</th>
                </tr>
                </thead>
                <tbody id="calendarBody">
                </tbody>
            </table>
            <div class="page-hero d-flex align-items-center justify-content-center" style="column-gap: 4px;">
                <button type="button"  class="btn btn-secondary" onclick="calendarHandler.displayPrevMonth()">Předchozí</button>
                <button type="button"  class="btn btn-secondary" onclick="calendarHandler.displayCurrMonth()">Tento měsíc</button>
                <button type="button" class="btn btn-secondary" onclick="calendarHandler.displayNextMonth()">Další</button>
            </div>
            <div>
                <button type="button" class="btn btn-success">Volno</button>
                <button type="button" class="btn btn-danger">Obsazeno</button>
            </div>
        </div>
    </div>

    <!-- Edit content modal -->
    <div class="modal" id="edit_note">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Upravit poznámku</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="card-body">
                        <form action="" method="post">
                                {{ form.hidden_tag() }}
                        <div class="form-group">
                                {{ form.content(class="form-control", rows="20") }}
                                <br>
                                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                    <button class="btn btn-light" type="reset">Resetovat</button>
                                    {{ form.submit(class="btn btn-success", rows="20") }}
                                </div>
                        </div>
                        <br>
                        </form>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        let calendarHandler = new CalendarHandler();
        calendarHandler.displayCalendar();
    </script>
{% endblock %}